.module6{
    width: 100%;
    padding-top: 250px;

    &__partbox{
        display: flex;
        justify-content: space-around;

    }

}

@include mobile{

    .module6{

        &__first{
            width: 100%;
            height: 600px;
            background-image: url('../../images/video-bg.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            

        }
        
    
        &__partbox{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            &__boxex{
                padding-bottom: 25px;
            }
            
    
        }
    
    }

}