// .module3{
//     width: 100%;
//     min-height: 700px;
//     background-image: url(/assets/images/banner-01.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: absolute;


//     &__mod3{
//         width: 100%;
//         height: auto;
//         display: flex;
//         align-items: center;
//         margin-top: 130px;

//         &__part1{
//             width: 25%;
//             height: auto;
//             position: relative;
//             text-align: center;
            
            
//             &__leftarrow{
//                 border: 1px solid #f1f1f1;
//                 font-size: 44px;
//                 padding: 5px 15px;
//                 border-radius: 30px;
//                 background-color: rgb(99, 98, 98);
                
//                 color: #ffffff;
//             }
//         }
//         &__part2{
//             width: 50%;
//             height: auto;
//             position: relative;
            
//             margin-left: 70px;
    
//             h1{
//                 color: #ffffff;
//                 font-size: 62px;
//                 line-height: 66px;
//                 font-weight: 700;
//             }
    
//             &__torento{
//                 width: 165px;
//                 height: auto;
//                 background-color: #ffffff;
//                 margin-bottom: 15px;
                
//                 h3{
//                     font-size: 17px;
//                     font-weight: 500;
//                     color: black;
//                     font-family: poppins;
//                     padding: 10px 6px;
                    
//                 }
//             }
            
//         }
//         &__part3{
//             width: 25%;
//             height: auto;
//             position: relative;
//             text-align: center;
            
            
            
//             &__rightarrow{
//                 border: 1px solid #f1f1f1;
//                 font-size: 44px;
//                 padding: 5px 15px;
//                 border-radius: 30px;
//                 background-color: rgb(99, 98, 98);
                
//                 color: #ffffff;
//             }
//         }
//     }

// }

// @include mobile{
//     .module3{
//         width: 100%;
//         height: auto;


//         &__part2{

//             width: 60%;
//             height: auto;
//             position: relative;
//             padding-top: 40px;
//             margin-left: 0px;
//             text-align: center;

//             h1{
//                 color: #ffffff;
//                 font-size: 40px;
//                 line-height: 46px;
//                 font-weight: 700;
//                 text-align: left;
//             }

//             &__torento{
//                 width: 165px;
//                 height: auto;
//                 background-color: #ffffff;
//                 margin-bottom: 15px;
                
//                 h3{
//                     font-size: 17px;
//                     font-weight: 500;
//                     color: black;
//                     font-family: poppins;
//                     padding: 10px 6px;
//                     text-align: center;
                    
//                 }
//             }

//         }

//     }
// }

// .module3{
//     width: 100%;
//     height: auto;
// }
@import 'https://fonts.googleapis.com/css?family=Raleway';
.va-header{
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-top: -100px;
}
.hero-banner {
    
    width: 100%;
    height: 115vh;
    overflow: hidden;
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  
    &__content {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      color: #fff;
      z-index: 2;
  
    
  
      h1 {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
  
       
      }
    }
    &__location {
        background-color: #fff;
        padding: 5px 15px;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 20px;
  
        span {
          font-size: 20px;
          color: #333333;
          font-family: Raleway;
          font-weight: 800;
  
          .highlight {
            color: #f56868;
            font-weight: bold;
          }
        }
      }
  
    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: #ffffff5d;
      color: #000;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 3;
      transition: transform 0.3s;
  
      &:hover {
        transform: translateY(-50%) scale(1.1);
        background-color: #f56868;
        color: #fff;
      }
  
      &.left {
        left: 10px;
      }
  
      &.right {
        right: 10px;
      }
      
    }
  }

  @include mobile {
    .va-header{
        .hero-banner{
            &__content{
                h1{
                    font-size: 2rem;
                }
            }
            &__arrow.left ,&__arrow.right{
                display: none !important;
            }
        }
    }
  }
  