.boxex{
    width: 300px;

    &__box3{
    
        margin-top: 40px;
        width: 270px;
        height: auto;
        background-color: #ffeee9;
        border-radius: 10px;
        position: relative;
    
        &__inside{
            padding: 25px 30px;
            display: flex;
            justify-content: space-around;
    
            h1{
                color: orangered;
                font-size: 35px;
                font-weight: 700;
                padding-right: 0px;
        
            }
    
            &__part2{

                p{
                    font-weight: 500;
                    font-size: 17px;
                    color: black;
                }
            }
    
        }
    
        
    }
    
    &__box4{
        width: 50px;
        height: 50px;
        background-color: orangered;
        border-radius: 25px;
        position: absolute;
        margin-top: -119px;
        margin-left: 245px;
    
    }

}


